// Color Palette
$pink: #ebd4da;
$pink-darker: #ee9ca7;
$pink-lighter: #ffdde1;
$purple: #a88d9d;
$gray: #dddee2;
$white: #fff;
$white-darker: #fdfbfb;

// Fonts
$font--lobster: "Lobster", sans-serif;
